.header-box{
    width: 100%;
    height: 80px;
    min-height: 80px;
}

.jumbo-box{
    width: 100%;
    height: 600px;
    min-height: 600px;
}

.jumbo-slimbox{
    width: 100%;
    height: 400px;
    min-height: 400px;
}

.underscore{
    height: 5px;
}

.ms_side{
    height: 5px;
}

.ms_lh-big{
    line-height: 100px;
}

.ms_bg-gr{
    background-color: #1abc9b;
}

.ms_bg-bl{
    background-color: #3B546D;
}