#jumbotron{
    padding-top: 100px;
    padding-bottom: 50px;
}

.header-box{
    width: 100%;
    height: 80px;
    min-height: 80px;
}

.jumbo-box{
    width: 100%;
    height: 600px;
    min-height: 600px;
}

.jumbo-slimbox{
    width: 100%;
    height: 400px;
    min-height: 400px;
}

.ms_side{
    height: 5px;
}

.ms_lh-big{
    line-height: 100px;
}

.ms_bg-gr{
    background-color: #1abc9b;
}

.ms_bg-bl{
    background-color: #2B3C4E;
}

.ms_bg-bl2{
    background-color: #3A546D
}

.ms_input{
    border: none;!important

}

.bi.bi-plus-circle{
    font-size: 5rem;
    display:none;
    z-index: 999;
    transition: display 1s;
}

.ms_col:hover .bi.bi-plus-circle{
    display: block;
}

.ms_col:hover .img-fluid{
    filter: opacity(0.7);
}

.ms_col .img-fluid{
    transition: all 0.5s;
}

/* modifiche al codice bootstrap, non raccomandabile */
.navbar-dark .navbar-nav .nav-link.active:hover{
    color:#1abc9b
}
