.header-box{
    width: 100%;
    height: 80px;
    min-height: 80px;
}

.jumbo-box{
    width: 100%;
    height: 600px;
    min-height: 600px;
}

.jumbo-slimbox{
    width: 100%;
    height: 400px;
    min-height: 400px;
}

.underscore{
    height: 5px;
}
